/* Page 1 */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;

}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  text-align: left;
  background-color: #f1f1f1;
}

header {
  background-color: #66CDAA;
  display: flex;
  padding: 10px;
  text-align: justify;
  width: 100%;

}

.logo {
  width: 110px;
  height: 100px;
  /* padding-right: 10px; */
  padding-left: 10px;
  /* border: 1px solid #f44b0e; */
}

.word {
  margin-left: 10px;
  color: black;
  /* border: 1px solid #0e9cf4; */
}

.h1 { 
  font-family: sans-serif;
  font-size: 3em;
  margin: 0;
}

.h2 {
  font-family: sans-serif;
  font-size: 2em;
  margin: 0;
  color: black;
}

.nav {
  background-color: #59caa4;
  /* padding: 10px; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  /* border: 1px solid #90EE90; */
}

.imgncd {
  background-color: white;
  padding: 10px;
  width: 400px;
  /* justify-content: space-between; */
  align-items: center;
  display: flex;
}

.sub_ {
  padding-left: 40%;
  /* width: auto; */
  /* border: 2px solid #3b1ab3; */
  letter-spacing: 2px;
  text-align: center;

}

.sub_ ul {
  list-style: none;
  margin: 5px;
  padding: 10px;
  display: flex;
  /* text-align: end; */
  cursor: pointer;

}
.sub_ ul :hover {
  background-color: #99e8ce;
}

.sub_ li {
  margin-right: 20px;
  text-align: center;

}

.sub_ a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  /* border: 1px solid #90EE90; */
}

.sub_ i {
  font-size: 2.5em;
  color: white;

}

main {
  padding: 20px;
}

.hero {
  text-align: center;
  margin-bottom: 20px;
  color: black;

}

.hero p {
  font-size: 4em;
  margin-bottom: 0;
}

.input-section {
  text-align: center;
  width: 100%;
  /* color: black; */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button.url {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 2cm;

}

button.url:hover {
  background-color: #3e8e41;

}

#second {
  padding-bottom: 5%;
}

.bg {
  background-color: white;
  border:1px solid #3e8e41;

}
.container-fluid {
  /* padding: 70px 50px 70px 50px; */
  padding-bottom: 15%;
}
.container-fluid div {
  padding: 10px;
  margin: 0 auto;
}
.container-fluid a {
  color: #d5d5d5;
}

.container-fluid a:hover {
  color: #777;
  text-decoration: none;
}
/* Page 2 */

table {
  border-collapse: collapse;
  width: 100%;
}

.table-container {
  overflow: auto;
  /* max-width: 500px; */
  overflow-y: auto;
  max-height: 80vh;
  border: 1px solid white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#page {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
      "tab ad"
      "tab ad"
      "des des";
  gap: 10px;
  padding: 10px;
  /* border: 1px solid #ef3b04; */
  width: 100%;

}

#tab {
  grid-area: tab;
  background-color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid #041cef;
}

#ad {
  grid-area: ad;
  align-items: start;
  /* background-color: #0000ff; */
  border: 1px solid #fa2004;
  color: black;
}

#des {
  grid-area: des;
  /* background-color: #006400; */
  border: 1px solid #d4ef04;
  color: black;
  padding-bottom: 20px;
}

/* Position the button */
.button-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Ensure it stays on top of other content */
}

/* Button Next */
.createdash {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.createdash:hover {background-color: #3e8e41}

.createdash:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  
/* Insert Diseases and Symptoms */
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 100px;  
}
/* Style the icon */
.input-group-text {
    width: 30px;
    text-align: center;
  }

  /* Hide the default checkmark icon */
  .form-control:focus + .input-group-append .input-group-text {
    border: none;
  }

  /* Show the selected tag icon */
  .form-control:focus + .input-group-append .input-group-text i.selected-tag-icon {
    display: block;
  }

.container {
    padding: 2rem;
}

.print-button {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 2rem 0;
}
.print-button:hover {
    background-color: #3e8e41;
}

iframe {
    width: 100%;
    height: 1600px;
    border: none;
}