body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table-container {
  overflow: auto;
  max-width: 500px;
  overflow-y: auto;
  max-height: 80vh;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  text-align: left;
  background-color: #f1f1f1;
}

header {
  background-color: #66CDAA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: justify;

}

.logo {
  width: 20%;
  height: 50px;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 2em;
  margin: 0;
}

nav {
  background-color: #99e8ce;
  padding: 10px;
  width: 40%;
  /* border: 1px solid #90EE90; */
}

.sub {
  width: 30%;
  /* border: 2px solid #3b1ab3; */
  letter-spacing: 2px;
  text-align: end;

}

.sub ul {
  list-style: none;
  margin: 0;
  padding: 20;
  display: flex;
  text-align: end;
  cursor: pointer;

}
.sub ul :hover {
  background-color: #99e8ce;
}

.sub li {
  margin-right: 20px;
  text-align: center;

}

.sub a {
  text-decoration: none;
  color: black;
  /* border: 1px solid #90EE90; */
}

.sub i {
  font-size: 2em;

}
main {
  padding: 20px;
}

.hero {
  text-align: center;
  margin-bottom: 20px;
}

.hero p {
  font-size: 4em;
  margin-bottom: 0;
}

.input-section {
  text-align: center;
  width: 99%;

}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

output {
  padding: 20px;
  align-items: stretch;
  text-align: justify;

}