.export{
    height : 60px;
    width : 200px;
    text-align : center ;
    background-color: #04AA6D;
    color:white;
    border-radius: 12px;
    align-items: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-color:white;
}

@font-face {
    font-family: 'THSarabunNew';
    src: url('THSarabunNew.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#grid-browser-print-btn {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 46%
  }
  
#grid-browser-print-btn:hover {background-color: #3e8e41;box-shadow: 2px 2px 20px 10px #7fecad;}
  
#grid-browser-print-btn:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}