<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCDs Listener</title>
    
    <link rel="stylesheet" href="/static/css/NCDs.css" />
    </head>
  <header>
    <h1>NCDs Listener</h1>
  
    <div class="logo">
      <img src="logo.png" alt="NCDs Listener logo">
    </div>
  
    <div class="timer">
      <span>00</span>
      <span>00</span>
    </div>
  </header>

  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Table</a></li>
      <li><a href="#">Dashboard</a></li>
    </ul>
  </nav>

  <main>
    <section class="hero">
      <h2>NCD'S LISTENER</h2>
    </section>
    <section class="input-section">
      <form action="/process.py" method="post">
      <label for="url">Paste URL</label>      
      <input type="text" id="url" name="url" placeholder="http://">
	    <button type="submit">Go!</button>
    </section>
  </main>

  <body>

    
  </body>
</html>