<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="utf-8" />   <!--It is necessary to use the UTF-8 encoding with plotly graphics to get e.g. negative signs to render correctly -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <form action="/app1/" method="get" target="_blank">   
	    <button type="submit" class="Go" >Go!</button>
   </form>
   <p>IN HTML</p>
</head>
<body>
   <iframe src="http://localhost:8050/app1/?" style="height:2400px;width:1600px;" title="description"></iframe>
</body>
</html>