<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <body>
      <div>
        <h3>Fruits</h3>
        <input type="checkbox" id="myCheck" onclick="myFunction()">
        <p id="text" style="display:none">Checkbox is CHECKED!</p>
      </div>
          <script >
            function myFunction() {
  // Get the checkbox
  var checkBox = document.getElementById("myCheck");
  // Get the output text
  var text = document.getElementById("text");

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
    text.style.display = "none";
  }
}
          </script>
    </body>
  </head>
</html>